In [1]:
-- hire date of the last employee in each department for the given salary

SELECT Department
    , LastName
    , Rate
    , HireDate
    , LAST_VALUE(HireDate) OVER (
        PARTITION BY Department ORDER BY Rate
        ) AS LastValue
FROM HumanResources.vEmployeeDepartmentHistory AS edh
INNER JOIN HumanResources.EmployeePayHistory AS eph
    ON eph.BusinessEntityID = edh.BusinessEntityID
INNER JOIN HumanResources.Employee AS e
    ON e.BusinessEntityID = edh.BusinessEntityID
WHERE Department IN (N'Information Services', N'Document Control');

Department,LastName,Rate,HireDate,LastValue
Document Control,Berge,10.25,2009-02-09,2009-01-22
Document Control,Chai,10.25,2009-01-22,2009-01-22
Document Control,Kharatishvili,16.8269,2008-12-16,2009-03-06
Document Control,Norred,16.8269,2009-03-06,2009-03-06
Document Control,Arifin,17.7885,2009-01-04,2009-01-04
Information Services,Bacon,27.4038,2009-01-11,2008-12-23
Information Services,Meyyappan,27.4038,2009-02-03,2008-12-23
Information Services,Berg,27.4038,2009-02-16,2008-12-23
Information Services,Bueno,27.4038,2008-12-23,2008-12-23
Information Services,Connelly,32.4519,2009-02-23,2008-12-04
Information Services,Sharma,32.4519,2008-12-04,2008-12-04
Information Services,Wilson,38.4615,2009-01-22,2009-01-17
Information Services,Ajenstat,38.4615,2009-01-17,2009-01-17
Information Services,Conroy,39.6635,2009-02-04,2009-02-04
Information Services,Trenary,50.4808,2008-12-11,2008-12-11

In [2]:
SELECT BusinessEntityID
    , DATEPART(QUARTER, QuotaDate) AS Quarter
    , YEAR(QuotaDate) AS SalesYear
    , SalesQuota AS QuotaThisQuarter
    , SalesQuota - FIRST_VALUE(SalesQuota)
          OVER (PARTITION BY BusinessEntityID, YEAR(QuotaDate)
              ORDER BY DATEPART(QUARTER, QuotaDate)) AS DifferenceFromFirstQuarter
    , SalesQuota - LAST_VALUE(SalesQuota)
          OVER (PARTITION BY BusinessEntityID, YEAR(QuotaDate)
              ORDER BY DATEPART(QUARTER, QuotaDate)
              RANGE BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS DifferenceFromLastQuarter
FROM Sales.SalesPersonQuotaHistory
WHERE YEAR(QuotaDate) > 2005 AND BusinessEntityID BETWEEN 274 AND 275
ORDER BY BusinessEntityID, SalesYear, Quarter;

BusinessEntityID,Quarter,SalesYear,QuotaThisQuarter,DifferenceFromFirstQuarter,DifferenceFromLastQuarter
274,2,2011,28000.00,0.00,-63000.00
274,3,2011,7000.00,-21000.00,-84000.00
274,4,2011,91000.00,63000.00,0.00
274,1,2012,140000.00,0.00,33000.00
274,2,2012,70000.00,-70000.00,-37000.00
274,3,2012,154000.00,14000.00,47000.00
274,4,2012,107000.00,-33000.00,0.00
274,1,2013,58000.00,0.00,-26000.00
274,2,2013,263000.00,205000.00,179000.00
274,3,2013,116000.00,58000.00,32000.00
274,4,2013,84000.00,26000.00,0.00
274,1,2014,187000.00,0.00,0.00
275,2,2011,367000.00,0.00,-135000.00
275,3,2011,556000.00,189000.00,54000.00
275,4,2011,502000.00,135000.00,0.00
275,1,2012,550000.00,0.00,-179000.00
275,2,2012,1429000.00,879000.00,700000.00
275,3,2012,1324000.00,774000.00,595000.00
275,4,2012,729000.00,179000.00,0.00
275,1,2013,1194000.00,0.00,345000.00
275,2,2013,1575000.00,381000.00,726000.00
275,3,2013,1218000.00,24000.00,369000.00
275,4,2013,849000.00,-345000.00,0.00
275,1,2014,869000.00,0.00,0.00