In [2]:
USE nile;

In [3]:
SELECT BusinessEntityID, TerritoryID   
   ,DATEPART(yy,ModifiedDate) AS SalesYear  
   ,SalesYTD 
   ,SUM(SalesYTD) OVER (PARTITION BY TerritoryID  ORDER BY DATEPART(yy,ModifiedDate)) AS CumulativeTotal  
FROM Sales.SalesPerson  
WHERE TerritoryID IS NULL OR TerritoryID < 5  
ORDER BY TerritoryID,SalesYear

BusinessEntityID,TerritoryID,SalesYear,SalesYTD,CumulativeTotal
274,NULL,2010,559697.5639,559697.5639
287,NULL,2012,519905.932,1079603.4959
285,NULL,2013,172524.4512,1252127.9471
283,1,2011,1573012.9383,2925590.0708
280,1,2011,1352577.1325,2925590.0708
284,1,2012,1576562.1966,4502152.2674
275,2,2011,3763178.1787,3763178.1787
277,3,2011,3189418.3662,3189418.3662
276,4,2011,4251368.5497,6709904.1666
281,4,2011,2458535.6169,6709904.1666